<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: page_head('Forget Password ', 'none')}" />
<body>
<div class="container-fluid text-center">
	<div th:replace="~{navigation :: header-menu}"></div>
	<div>&nbsp;</div>
	<div>
		<h2>Forgot Password</h2>
	</div>
	
	<form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto">
		
	<p th:classappend="${error != null} ? 'text-danger' : ''" th:if="${error != null}">[[${error}]]</p>
	<p th:classappend="${message != null} ? 'text-warning' : ''" th:if="${message != null}">[[${message}]]</p>

	<div class="border border-secondary rounded p-3">
		<div>
			<p>We will be sending the reset password link to the email</p>
		</div>
		<div>
			<p>
				<input type="email" name="email" class="form-control" placeholder="Enter your email" required="required" autofocus="autofocus" />
			</p>
		</div>
	<div>
		<p>
			<input type="submit" value="Send" class="btn btn-primary" />
		</p>
	</div>
	</div>	
	</form>
	<div>&nbsp;</div>
	
	
	<div th:replace="~{navigation :: footer-menu}"></div>
</div>
</body>
</html>