<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Users', 'none')}"></head>
<body>
<div class="container-fluid">
	<div th:replace="~{navigation :: nav-menu}"></div>
	<div>
		<h2>Manage Users</h2> 
		<a th:href = "@{/users/new}" class="fa-solid fa-user-plus fa-2x icon-dark mr-2" style="text-decoration: none"></a>
		&nbsp;|&nbsp;
		<a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark mr-2"></a>
		&nbsp;|&nbsp;
		<a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2x icon-dark mr-2"></a>
		&nbsp;|&nbsp;
		<a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2x icon-dark mr-2" style="text-decoration: none"></a>
	</div>
	
	<div th:replace="~{fragments :: search_form_message}" />
	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th class="hideable-column"> 
						<th th:replace="~{fragments :: column_link('id', 'User Id', 'tag')}" />
					</th> 
					
					<th>Photo</th>
					
					<th class="hideable-column"> 
						<th th:replace="~{fragments :: column_link('email', 'E-mail', 'tag')}" />
					</th>
					
					<th th:replace="~{fragments :: column_link('firstName', 'First Name', 'none')}" />
					<th th:replace="~{fragments :: column_link('lastName', 'Last Name', 'none')}" />
					
					<th>Roles</th>
					<th th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}" />
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${allUsers}">    <!--for each loop (for each user in the alluser attribute that coming from user controler-->
					<td class="hideable-column">[[${user.id}]] </td>
					<td>
						<span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-2xl icon-dark"></span>
						<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px" />
					</td>
					<td class="hideable-column">[[${user.email}]]</td>
					<td>[[${user.firstName}]] </td>
					<td>[[${user.lastName}]] </td>
					<td>[[${user.roles}]] </td>
					
					<td>
						<div th:replace="~{fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})}" />
					</td>
					<td> 
						<div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}" />
						&nbsp;&nbsp;
						<div th:replace="~{fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)}" />
					</td>	 
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="user : ${allUsers}" class="row m-1">
			<div th:replace="~{fragments :: user_photos}" class="col-4" />
			<div class="col-8">
				<div>[[${user.fullName}]]</div>
				<div>[[${user.roles}]]</div>
				<div class="mt-2">
					<div th:replace="~{fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})}" />	
					&nbsp;
					<div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}" />
					&nbsp;
<!--remember link-delete-->	<div th:replace="~{fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)}" />
				</div>
			</div>
			<div>&nbsp;</div>
		</div>
	</div>
	
	
	<div th:replace="~{fragments :: pagination('users')}"></div>
	
	<div th:replace="~{modal_fragments :: confirm_modal}" />
	
	<div th:replace="~{fragments :: footer}"></div>
	
	
		
</div>

<script type="text/javascript">
	
	$(document).ready(function() { // this mensures the code inside it is executed only after the HTML document has been fully loaded.
		$(".link-delete").on("click", function(e){     // This line selects all elements with the class "link-delete" and attaches a click event listener. when the class is clicked, the function inside the on() method will be executed.
			e.preventDefault(); //This line prevents the default action associated with the click event. in this case deleting the selected user.
			link = $(this);  
			userId = link.attr("userId");
			$("#yesButton").attr("href", link.attr("href"));   //pressing the yes button on model it will assign the hyperlink to the delete user ie th:href="@{'/users/delete/' + ${user.id}}" 
			$("#confirmText").text("Are you sure you want to Delete this user?" + userId + "?");
			$("#confirmModal").modal("show");
		});
	});
	
	function clearFilter(){
			window.location = "[[@{/users}]]";
		}
	
	
		
</script>
</body>
</html>